 .priority {
    border-radius: 3px;
    background: gray;
    display: inline-block;
    padding: 5px;
    line-height: 12px;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 500;
    color: white;
    width: 60px;
    &.critical, {
        background: #e79f64;
    }

    &.major{
        background: #e66a61e1;
    }

    &.minor {
        background: lightgray;
    }

    &.normal{
        background: #bde292e8;
    }

}

.ellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}