.category {
    width: 150px;
    height: 150px;
    border: 1px solid lightgray;
    cursor: pointer;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
  
    img {
      width: 100px;
      height: 100px;
    }
  
    span {
      display: block;
      margin-bottom: 5px;
    }
  }
.cxb-preview {
   background: rgb(0, 121, 191);
   margin: 0;
   border: none;
   height: 100%;   
  min-height: 90vh;
}

.board h3 {
      color: white;   
}

.cards {
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   flex-wrap: wrap;

   .cxm-hspace {
      height: 450px;
   }
}

.card {
   width: 295px;
   margin-right: 10px;
   padding: 10px;
   background: #E2E4E6;
   border-radius: 3px;
   box-shadow: 0 0 1px rgba(128, 128, 128, 0.5);

   
}

.card h4 {
  margin: 0 0 5px;
}

.item {
   background: white;
   border-radius: 3px;
   display: block;
   padding: 3px;
   margin-top: 5px;
   box-shadow: 0 0 1px rgba(128, 128, 128, 0.5);
   cursor: pointer;
}