.login-form {
  background: #eee;
  border-radius: 5px;
  padding: 20px;
  width: 300px;
  align-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-btn {
  padding: 5px 10px;
  margin: 7px;
}
.sign-in-form {
  background: #eee;
  border-radius: 5px;
  padding: 20px;
  width: 350px;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.reportCard{
 // border: 1px solid #e1e1e1;
  border-radius: 0.25rem;
  box-shadow: 1px 1px 2px rgba(128, 128, 128, 0.1);
  overflow: hidden;
  background: white;
  color: gray; margin:5px;
  
}

body {
  background: white;
  padding-top: 10px;
  padding-left: 10px;
}

.logo {
  width: 300px;
  align-items: center;
  justify-content: center;
}
.sign-in-logo {
  width: 350px;
  align-items: center;
  justify-content: center;
}
.sign-in {
  height: 100%;
  margin-top: -50px;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dashboard {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

$block-width: 500px;
$block-height: 350px;

.cxb-dropzone.cxm-widget {
  &.cxs-over {
    &:after {
      position: absolute;
      background: rgba(lightgray, 0.2);
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      content: " ";
    }
  }
}

.cxb-draghandle {
  cursor: move;
}

.cxe-lookupfield-input{
 border-radius: 5px  !important;
 // border-style: unset !important;
} 

.cxe-textarea-input{
 border-radius: 5px  !important;
 // border-style: unset !important;
} 



.cxb-dragsource.cxm-widget {
  .cxb-section.cxm-widget {
    background: #DDE7F3;
    width: auto;
    height: $block-height;
    margin-left:20px;

    //border: 1px solid #e1e1e1;
  border-radius: 0.25rem;
  box-shadow: 1px 1px 2px rgba(128, 128, 128, 0.1);
  overflow: hidden;
  background: white;
  color: gray; margin: 23px;

    .cxe-section-header {
      padding: 5px;
      margin: 0;
      border: none;
      background: rgba(white, 0.05);
      color: rgba(white, 0.5);

      h3 {
        font-size: 14px;
        line-height: 2;
      }
    }
  }
}

.cxb-grid.cxm-widget {
  .cxe-grid-col-header {
    text-transform: uppercase;
    font-size: 11px;
    color: rgba(white, 0.5);
  }

  .cxe-grid-data td {
    border-color: rgba(white, 0.05);
  }

  .cxe-grid-data:nth-child(odd) {
    background-color: transparent;
  }
}

.cxb-legend.cxm-compact {
  .cxe-legend-entry {
    margin: 0;
  }
}


.panel {
  float: left;
  margin: 10px;
 // border: 1px solid lightgray;
  background: #DDE7F3;
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(128, 128, 128, 0.3);
  width: 200px;
  height: 200px;
  padding: 10px;
  box-sizing: border-box;
}