.comment {
  position: relative;
  padding-left: 60px;
  cursor: default;

  .comment-icon {
    background: rgba(white, 0.1);
    color: rgba(white, 0.2);
    position: absolute;
    left: 0;
    top: 5px;
    padding: 10px;
    font-size: 30px;
  }

  .comment-time {
    float: right;
    font-size: 11px;
  }

  .comment-text {
    color: rgba(white, 0.6);
    line-height: 1.1;
    font-size: 13px;
    margin: 0;
  }
}
