.project {
  padding: 10px;
  border-left: double #ffc8c1 3px;

  border: 1px solid #ccc;
  background-color: rgba(210, 228, 249, 0.692);
  box-shadow: -2px -2px 6px #ccc;
  padding-left: 40px;
  width: 500px;
  margin: auto;
 
}
 .cxe-textfield-input{
   background-color: #ffc8c1
 }

 
.attachment{
   background-image: url(~/app/assets/img/document.png);
    background-position: 0 50%;
    background-repeat: no-repeat;
    padding: 5px 5px 5px 15px;
    margin-left:10px;
    text-overflow: ellipsis;
    text-indent: 5px;
  }
  

  .button{
     background: url(~/app/assets/img/close-icon.png);
    background-position: 0 50%;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 50px;

  }
 